*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.nva{
    background: #333;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
.nva a{
    color:#b0b0b0;
}
.nva a:hover{
    color: #fff;
}
.md{
    width: 1226px;
    height: 40px;
    margin: 0 auto;
   
}
.nva .left{
    /* width: 200px; */
    height: 40px;
   
    float: left;
}
.nva .left a .nva .left span{
    float: left;
}
.nva .left span,.nva .line span{
    margin: 0 3px;
    color: #424242;
}
.nva .right{
    width: 200px;
    height: 40px;
  
    float:right

}
.gw{
    width: 120px;
    height: 40px;
    background: #424242;
    color: #b0b0b0;
    text-align: center;
    margin-left: 20px;
}
.gw:hover{
    background: #fff;
    color: #ff6700;
}
.nva .right,.nva .cart{
    float: left;
}
